<div class="uebergang_ha-mappe">
  <img class="uebergang_planet" src="img/hausaufgabe_planet.svg" alt="Planet Hausaufgabe" />
</div>

<section class="hausaufgabe">
<div class="container">

  <div class="row">
    <div class="four columns">
      <img class="sleep-well" src="/img/sleep-well.svg" alt="Sleep well!" />
    </div>

    <div class="eight columns">
      <div class="accordion vertical">
        <section id="acc-ha-scribbles">
          <h4><a href="#acc-ha-scribbles">Wie aufwändig muss ich meine Idee umsetzen?
            Darf ich meine Idee auch mit Scribbles visualisieren?</a></h4>
          <p>
            Nutze das gesamte Spektrum deiner Fähigkeiten. Ansonsten zählt im Grunde
            die Idee selbst und wie überzeugend du sie präsentierst – wenn dafür
            Skizzen reichen, dann ist das eben so.
          </p>
        </section>
        <section id="acc-ha-sinn">
          <h4><a href="#acc-ha-sinn">Ich komme mit der Hausaufgabe nicht weiter!
            Macht es jetzt überhaupt noch Sinn, zur Prüfung zu gehen?</a></h4>
          <p>
            Natürlich macht das Sinn! Auch ein paar Tage vorher lassen sich noch
            gute Ergebnisse erzielen. Glaubt an euch und geht auf jeden Fall zur
            Prüfung. Euch braucht nichts peinlich zu sein. Vielen von uns ging es
            damals genauso.
          </p>
        </section>
        <section id="acc-ha-copyright">
          <h4><a href="#acc-ha-copyright">Wie sieht es mit Bildern aus dem Internet aus?
            Stichwort: Copyrights. Darf ich die in meiner Präsentation benutzen?</a></h4>
          <p>
            Da eure Arbeiten ja in einem „internen Rahmen“ gezeigt werden, ist es ok,
            wenn ihr Bilder und Grafiken aus dem Netz zur Hilfe nehmt.
          </p>
        </section>
        <section id="acc-ha-pappe">
          <h4><a href="#acc-ha-pappe">Muss ich meine Arbeiten auf Pappe aufziehen?</a></h4>
          <p>
            Das ist nicht notwendig. Überlegt einfach, welchen Eindruck eure Arbeiten
            bei den Prüfern hinterlassen sollen. Letztlich „isst das Auge mit“.
            Es ist natürlich richtig, dass die inneren Werte zählen, aber ein angehender
            Designer sollte sich der Wirkung einer gut gestalteten Präsentation bewusst
            sein – das kann man sicher mit vielen Mitteln erreichen.
          </p>
        </section>

      </div>
    </div>

  </div>

  <div class="row">
    <div class="six columns">

      <div class="accordion vertical">
        <section id="acc-ha-erlaeutern">
          <h4><a href="#acc-ha-erlaeutern">Präsentiere ich nur mein Ergebnis oder
            muss ich auch erläutern, wie ich darauf gekommen bin?</a></h4>
          <p>
            Definitiv muss das reine Ergebnis für sich sprechen können und ohne
            große Erklärungen auskommen. Andererseits ist es oft spannend zu sehen,
            über welche Wege ein endgültiges Produkt entstanden ist.
          </p>
        </section>
        <section id="acc-ha-hilfsmittel">
          <h4><a href="#acc-ha-hilfsmittel">Welche Hilfsmittel darf ich für meine
            Präsentation verwenden und welche stehen schon vor Ort zur Verfügung?</a></h4>
          <p>
            In den Räumen können Tische und Stühle vorausgesetzt werden und auch
            technische Hilfsmittel wie zum Beispiel ein Beamer.Euren Laptop müsst
            ihr selbst mitbringen, genauso wie diverse Adapter. Bedenkt jedoch die
            kurze Zeitspanne für eure Präsentation, die ihr nicht mit Aufbauen,
            Anschließen, Einstellen usw. vergeuden solltet.
          </p>
        </section>
        <section id="acc-ha-darstellung">
          <h4><a href="#acc-ha-darstellung">Welche Darstellungsformen kann und darf ich
            für die Präsentation meiner Aufgabe nutzen?</a></h4>
          <p>
            Die Medien der Darstellung können sein: Zeichnungen, Collagen, Montagen,
            Fotografien, Video etc. Alles, was auf die wörtliche Beschreibung im
            Wesentlichen verzichten kann. Wählt die Medien und Darstellungsformen,
            mit denen ihr vertraut seid und euch am sichersten fühlt.
          </p>
        </section>
        <section id="acc-ha-abmessungen">
          <h4><a href="#acc-ha-abmessungen">Welche Abmessungen darf meine Hausaufgabe
            haben?</a></h4>
          <p>
            Größe und Format bestimmst du selbst.
          </p>
        </section>
        <section id="acc-ha-charts">
          <h4><a href="#acc-ha-charts">Wieviele Seiten / Abbildungen / Charts /
            etc. darf ich zur Präsentation nutzen? Gibt es eine Mindestanzahl?</a></h4>
          <p>
            Dafür gibt es keinerlei Richtwerte. Du musst selbst entscheiden,
            welcher Umfang für dein Ergebnis am geeignetsten ist.
          </p>
        </section>
      </div>

      </div>

      <div class="six columns">
        <section class="tipp-ha-wrapper">
          <article class="text__info tipp-ha">
            <h3>Bei der Hausaufgabe solltest du alles geben!</h3>
            <p>
              Konzentriere dich dabei auf deine Stärken. Der Prüfungskomission ist
              es wichtig zu spüren, ob du differenziert, problembewusst und intensiv
              wahrnehmen kannst und wie reich dein Vorstellungsvermögen ist.
              Effekthascherei und vorgetäuschte Virtuosität machen einen schlechten
              Eindruck. Weniger ist oft mehr.
            </p>
          </article>
        </section>

        <div class="accordion vertical">
          <section id="acc-ha-analog">
            <h4><a href="#acc-ha-analog">Werden analoge und digitale
              Darstellungstechniken gleichermaßen bewertet?</a></h4>
            <p>
              Natürlich werden analoge Arbeiten nicht schlechter bewertet als
              digitale. Im Übrigen dürfen auch Bewerber für Interfacedesign analoge
              oder plastische Arbeiten präsentieren.
            </p>
          </section>
          <section id="acc-ha-fiktiv">
            <h4><a href="#acc-ha-fiktiv">Muss ich etwas völlig Neues erfinden oder
              kann ich auch auf etwas Bestehendem aufbauen? Darf der Inhalt meiner
              Idee auch rein fiktiv sein?</a></h4>
            <p>
              Wie die Aufgabe genau gemeint ist, entscheidest du allein! Du kannst
              beide Ansätze verfolgen (Neues, Vorhandenes, Beides). Auf jeden Fall
              ist abstraktes Denken gefragt. Die Qualität und Originalität deiner
              Idee ist entscheidend. Natürlich darf die Lösung auch fiktiv und nicht
              tatsächlich umsetzbar sein (z.B. technisch oder finanziell). Die
              offiziellen Bewertungskriterien der Prüfer sind folgende: Darstellung
              eigener Ideen; Abstraktionsfähigkeit; Kreativität; Technik, Handwerk;
              kommunikative Fähigkeiten; designspezifische Begabung – max. 3 Punkte
              in jedem Kriterium macht summa summarum 18 Punkte = max. zu erreichende
              Punktzahl.
            </p>
          </section>
          <section id="acc-ha-bezogen">
            <h4><a href="#acc-ha-bezogen">Sind die Aufgaben studiengangsbezogen
              gestellt?</a></h4>
            <p>
              Alle 3 Aufgaben können bearbeitet werden, egal für welchen Studiengang
              ihr euch bewerbt. Trotzdem sollte die Hausaufgabe möglichst im Sinne
              eures Studiengangs bearbeitet werden.
            </p>
          </section>
          <section id="acc-ha-konzept">
            <h4><a href="#acc-ha-konzept">Was ist eigentlich ein Konzept?</a></h4>
            <p>
              Zitat Prof. Boris Müller: „Ein gutes Konzept zeichnet sich dadurch
              aus, dass man es in zwei Sätzen erklären kann.“
            </p>
          </section>

        </div>
      </div>

  </div>

  <div class="row" id="hausaufgabe">
    <div class="twelve columns">
      <article class="text__intro">
        <h2>Die Hausaufgabe</h2>
        <p>
          Für die Präsentation deiner Hausaufgabebleiben dir maximal 7 Minuten,
          daher sollte das Wesentliche deiner Hausaufgabe schnell zu erfassen sein.
          Halte deine Arbeit ehrlich, einfach und einprägsam.
        </p>
      </article>
    </div>
  </div>

</div>
</section>

<div class="uebergang_termine-ha">
  <img class="uebergang_planet upsidedown" src="img/hausaufgabe_planet.svg" alt="Planet Hausaufgabe" />
</div>
