<section class="kommentare" id="kommentare">
<div class="container">

  <div class="row">
    <div class="twelve columns">
      <p>
        Disqus Plugin
      </p>
      <h1>Noch Fragen?</h1>
      <p>
        Alternativ kannst du deine Fragen auch bei
        <a href="http://facebook.com/campusambulanz">Facebook</a>,
        <a href="http://twitter.com/campusambulanz">Twitter</a> oder
        <a href="http://www.precore.net/forum/viewtopic.php?f=3&t=21597&hilit=fh+potsdam+2015">Precore</a> loswerden.
      </p>
    </div>
  </div>

</div>
</section>
