<div class="uebergang_mappe-anfahrt">
  <img class="uebergang_steinboden" src="img/uebergang_mappe-anfahrt.svg" alt="Steinboden" />
</div>

<section class="mappe">
<div class="container">

  <div class="row">

    <div class="six columns">
        <article class="text__info tipp-mappe">
          <p>
            Für die Präsentation der Mappe sind höchstens 2-3 Minuten vorgesehen.
          </p>
        </article>

      <div class="accordion vertical">
        <section id="acc-mappe-mitnehmen">
          <h4><a href="#acc-mappe-mitnehmen">Kann ich meine Mappe nach der Prüfung
            wieder mitnehmen oder wird sie von der FH einbehalten?</a></h4>
          <p>
            Alles, was du am Prüfungstag mit in die FHP bringst, nimmst du danach
            auch wieder mit nach Hause.
          </p>
        </section>
        <section id="acc-mappe-erlaeutern">
          <h4><a href="#acc-mappe-erlaeutern">Muss ich meine Arbeiten nur zeigen
            oder sollen sie auch erläutert werden?</a></h4>
          <p>
            Grundsätzlich ist es immer gut, wenn die Arbeiten für sich sprechen.
            Meist blättern die Prüfer die Mappe eher schnell durch und richten dann
            evtl. Fragen an euch. Für die gesamte Mappenpräsentation sind (wenn überhaupt)
            ohnehin nur 2 bis 3 Minuten vorgesehen.
          </p>
        </section>
      </div>

    </div>

    <div class="six columns">
      <div class="accordion vertical">
        <section id="acc-mappe-abmessung">
          <h4><a href="#acc-mappe-abmessung">Welche Abmessungen dürfen meine Arbeiten haben?</a></h4>
          <p>
            Größe und Format bestimmst du selbst. Beliebte Formate sind DIN A2 und A1.</p>
        </section>
        <section id="acc-mappe-zehn">
          <h4><a href="#acc-mappe-zehn">Müssen es genau 10 Arbeiten sein?</a></h4>
          <p>
            10 Arbeitsproben gelten als der offizielle Richtwert. Deine Arbeiten werden
            jedoch nicht von den Prüfern durchgezählt.
          </p>
        </section>
        <section id="acc-mappe-andere-ha">
          <h4><a href="#acc-mappe-andere-ha">Wird es als negativ angesehen, wenn man
            Arbeiten in die Mappe legt, die als Hausaufgaben für andere Hochschulen
            angefertigt wurden?</a></h4>
          <p>
            Generell kommen eigene, freie Arbeiten (Stichwort „Eigenmotivation“)
            besser an. Aber wenn du von der Arbeit echt überzeugt bist und das
            auch erklären kannst, kannst du die bestimmt auch mit reinpacken.
            Den Hauptteil der Mappe sollten aber natürlich schon die freien
            Arbeiten ausmachen.
          </p>
        </section>
        <section id="acc-mappe-prozent">
          <h4><a href="#acc-mappe-prozent">Wie wichtig ist die Mappe bei
            der gesamten Prüfung? Gibt es ein %-Verhältnis zwischen Hausaufgabe
            und Mappe?</a></h4>
          <p>
            Über ein eventuelles %-Verhältnis können wir keine Aussage treffen.
            Der Schwerpunkt liegt jedoch definitiv auf der Hausaufgabe.
          </p>
        </section>
      </div>

      </div>

  </div>

  <div class="row">

    <div class="six columns">

      <section class="tipp-mappe-wrapper">
        <article class="text__info tipp-mappe">
          <h4>Vor der Präsentation solltest du deine Mappe auf
          folgende Anforderungen trimmen:</h4>
          <ul>
            <li>maximal 10 Arbeitsproben</li>
            <li>ausschließlich flächig</li>
            <li>nicht kleiner als DIN A4 und nicht größer DIN A1</li>
            <li>Dreidimensionale Arbeiten als Fotodokumentation</li>
            <li>Interaktive Arbeiten können am Computer präsentiert werden</li>
          </ul>
        </article>
      </section>

    </div>

    <div class="six columns">
      <div class="accordion vertical">
        <section id="acc-mappe-studienfach">
          <h4><a href="#acc-mappe-studienfach">Muss sich meine Mappe auf mein
            Studienfach beziehen?</a></h4>
          <p>
            Sie soll in erster Linie zeigen, dass du ein allgemeines, grundsätzliches
            Gespür für Gestaltung hast. Am besten ist es natürlich, wenn deine Mappe
            fachbezogen ist. Schließlich musst du mit deinem gesamten Auftreten zeigen,
            dass du eben genau dieses Fach studieren möchtest. Dabei kann es nur hilfreich
            sein, wenn du in dieser Richtung schon vorher Erfahrungen gesammelt hast, die du
            in der Mappe verbildlichen kannst.
          </p>
        </section>
        <section id="acc-mappe-pappe">
          <h4><a href="#acc-mappe-pappe">Soll ich meine Arbeiten auf Pappe aufziehen?</a></h4>
          <p>
            Das ist nicht zwingend notwendig. Überlegt einfach, welchen Eindruck
            eure Arbeiten bei den Prüfern hinterlassen sollen. Letztlich „isst
            das Auge mit“. Es ist natürlich richtig, dass die inneren Werte zählen,
            aber ein angehender Designer sollte sich der Wirkung einer gut gestalteten
            Präsentation bewusst sein. Das kann man sicher mit vielen Mitteln erreichen
            - u.A. auch mit Pappe.
          </p>
        </section>
        <section id="acc-mappe-zsmfassen">
          <h4><a href="#acc-mappe-zsmfassen">Muss ich die einzelnen Arbeitsproben in
            einer Mappe zusammenfassen?</a></h4>
          <p>
            Das ist empfehlenswert und sicher besser als ein loser Blattstapel.
            Am wichtigsten ist jedoch, dass ihr eure Arbeiten gut präsentieren
            könnt und die Mappe selbst die Handhabung mit den einzelnen Arbeiten
            nicht behindert.
          </p>
        </section>
        <section id="acc-mappe-inhaltsverz">
          <h4><a href="#acc-mappe-inhaltsverz">Soll man ein Inhaltsverzeichnis für die Mappe anlegen?</a></h4>
          <p>
            Ein Inhaltsverzeichnis ist nicht erforderlich - und auch nicht unbedingt ratsam.
          </p>
        </section>
        <section id="acc-mappe-arten">
          <h4><a href="#acc-mappe-arten">Welche Arten von Arbeitsproben sind für die Mappe zugelassen?</a></h4>
          <p>
            Bildmaterial bis zum Format DIN A0; Videokassetten und Diapräsentationen;
            Computerdarstellungen mit handelsüblichen Anwendungsprogrammen; Dreidimensionale
            Anschauungsobjekte, die unter den gegebenen räumlichen Voraussetzungen und der
            gegebenen Prüfungszeit aufgebaut, präsentiert und abgebaut werden können.
            Ihr könnt natürlich auch digitale/interaktive Arbeiten präsentieren - da diese
            jedoch nicht von 3 Prüfern auf einmal bedient werden können, empfiehlt es sich
            vielleicht doch, exemplarische und aussagekräftige Screenshots in gedruckter Form
            zu zeigen. Dabei könnt ihr euch getrost auf das Vorstellungsvermögen
            der Prüfer verlassen.
          </p>
        </section>
        <section id="acc-mappe-faden">
          <h4><a href="#acc-mappe-faden">Sollte es einen roten Faden in der Mappe geben?</a></h4>
          <p>
            Es muss keinen roten Faden geben, aber wenn ein Stil erkennbar wird,
            ist das immer von Vorteil. Stile, in denen ihr euch nicht wohl fühlt,
            solltet ihr lieber weg lassen, anstatt sie irgendwie mit rein zu „quetschen“.
            Dennoch kann ein roter Faden euch selbst helfen eine Mappe zu erstellen bzw.
            ihr eine gewisse Struktur zu verleihen.
          </p>
        </section>

      </div>
    </div>

  </div>

  <div class="row" id="mappe">
    <div class="twelve columns">
      <article class="text__intro">
        <h2>Wie soll die Mappe aussehen?</h2>
        <p>
          Mappen wachsen nicht auf Bäumen, außer auf einem feindseeligen Planeten
          in der Nähe von Alpha Centauri. Wir empfehlen daher, sie aus eigener
          Kreativität sprießen zu lassen.
        </p>
      </article>
    </div>
  </div>

</div>
</section>
