<section class="schlafplatz">
<div class="container">

  <p>
    Schlafplatz-Suche Tool
  </p>

  <div class="row" id="schlafplatz">
    <div class="twelve columns">
      <article class="text__intro">
        <h2>Du benötigst einen Schlafplatz für den Prüfungstag?</h2>
        <p>
          Du reist aus einer weit entfernten Galaxie zur Prüfung an
          und brauchst einen Schlafplatz? Über unser Schlafplatzformular
          kannst du kostenlos bei Studentinnen oder Studenten der FH Potsdam
          übernachten.
        </p>
      </article>
    </div>
  </div>

</div>
</section>
