<div class="uebergang_start-termine">
  <img class="uebergang_planet" src="img/start_planet.svg" alt="Planet Erde" />
</div>

<section class="start" id="start">
<div class="container">

  <div class="row">
    <div class="twelve columns">
      <img class="logo" src="img/campusambulanz_logo.svg" alt="Campusambulanz Logo" />
      <article class="text__intro">
        <h3>Hallo! Schön, dass du bei uns gelandet bist!</h3>
        <p>
          Du willst Design an der FH Potsdam studieren? Diese Reise wird
          abenteuerlich. Aber keine Panik, denn wir, die Campusambulanz,
          stehen dir mit unseren Erfahrungen zur Seite. Unser galaktischer
          Reiseführer durch die Eignungsprüfung erklärt dir, was du wissen musst,
          um deine Mission erfolgreich auszuführen.
        </p>
      </article>
      <ul class="start_abheben">
        <li><img src="img/ic_arrow_upward.svg" alt="Pfeil nach oben" /></li>
        <li><p>Abheben</p></li>
        <li><img src="img/ic_arrow_upward.svg" alt="Pfeil nach oben" /></li>
      </ul>
    </div>
  </div>

</div>
</section>
