<section class="studium">
<div class="container">

  <div class="row">

    <div class="six columns">
      <div class="accordion vertical">
        <section id="acc-praktikum">
          <h4><a href="#acc-praktikum">Muss ich unbedingt ein Praktikum absolviert haben,
            um mich bewerben zu können?</a></h4>
          <p>
            Seit 2013 ist es nicht mehr nötig, ein mindestens 4-wöchiges Praktikum
            bis zur Immatrikulation vorzuweisen, allerdings ist es natürlich sehr zu empfehlen
            praktische Erfahrungen in der Designerbranche zu sammeln.
          </p>
        </section>
        <section id="acc-andere-hs">
          <h4><a href="#acc-andere-hs">Kann ich mich vor Immatrikulation an der FHP auch an
            anderen Hochschulen bewerben und einschreiben?</a></h4>
          <p>
          Ja, aber zum Zeitpunkt der Immatrikulation an der FHP darf man an keiner
          anderen Hochschule mehr eingeschrieben sein. Ihr müsstet euch dann an
          der anderen Hochschule exmatrikulieren lassen.
          </p>
        </section>
        <section id="acc-9-punkte">
          <h4><a href="#acc-9-punkte">Ich habe die Eignungsprüfung mit 9 Punkten bestanden,
            aber keinen Studienplatz bekommen. Zählt dieses Ergebnis zwingend, wenn ich mich
            im nächsten Jahr wieder bewerbe?</a></h4>
          <p>
            Grundsätzlich gilt das Ergebnis der Eignungsprüfung für die 2 auf
            das Feststellungsverfahren folgenden Studienjahre, d.h. das aktuelle
            Bewerbungs(= Studien)jahr und das darauffolgende. Es ist also möglich,
            sich mit dem selben Ergebnis bis zu 2 mal an der FH zu bewerben.
            Es ist aber genauso möglich, dass ihr im Folgejahr eine neue Eignungsprüfung
            ablegt und euch dann mit dem neuen Ergebnis bewerbt. An der Eignungsprüfung
            kann man bei Nichtbestehen insgesamt bis zu 2 mal teilnehmen.
          </p>
        </section>
      </div>
    </div>

    <div class="six columns">

      <div class="accordion vertical">
        <section id="acc-stundenplan">
          <h4><a href="#acc-stundenplan">Gibt es an der FHP einen festgelegten Stundenplan?
            Wie lange gehen die Kurse im Durchschnitt?</a></h4>
          <p>
            Es gibt keinen festen Stundenplan. Neben einigen Pflichtkursen,
            die ihr zugeteilt bekommt, wählt ihr selbst eure Kurse aus dem Lehrangebot.
            In der Regel dauern die Kurse zwischen 3 und 5 Stunden, letztere dann aber
            meist mit Mittagspause.
          </p>
        </section>
        <section id="acc-grafikprogramme">
          <h4><a href="#acc-grafikprogramme">Bekommt man an der FHP Kenntnisse
            zu Grafikprogrammen vermittelt? Gibt es entsprechende Kurse?</a></h4>
          <p>
            Nicht konkret. Das Studium beginnt mit den Projektwochen, in denen in
            der Regel ein Adobe–Anfängerkurs angeboten wird. Während des Semesters
            werden aber keine weiteren Kurse angeboten. Kenntnisse in den gängigen
            Grafikprogrammen werden zwar nicht vorausgesetzt, aber ihr solltet euch
            ohnehin darauf vorbereiten, euch diese im Selbststudium anzueignen.
            Ihr werdet nicht drum herum kommen, diese Programme schon im Grundstudium
            anzuwenden.
          </p>
        </section>
        <section id="acc-arbeiten">
          <h4><a href="#acc-arbeiten">Ich muss nebenbei arbeiten gehen. Habe ich
            die Möglichkeit, freie Tage einzulegen?</a></h4>
          <p>
            Ihr bestimmt euren Wochenplan selbst und könnt demzufolge auch
            komplette Tage frei halten. Aber unterschätzt nicht den Zeitaufwand,
            den ihr für Hausaufgaben benötigen werdet.
          </p>
        </section>
        <section id="acc-klausuren">
          <h4><a href="#acc-klausuren">Werden an der FHP Klausuren geschrieben?</a></h4>
          <p>
          Nein. Die Benotung in den Kursen erfolgt in den allermeisten Fällen
          durch Präsentationen und Dokumentationen am Ende eines Semesters.
          </p>
        </section>
      </div>

      </div>

    </div>

    <div class="row">
      <div class="twelve columns">
        <img class="blume" src="/img/blume.png" alt="Blume" />
        <img class="planet-big" src="/img/studium-gross.png" alt="Planet" />
        <article class="text__intro" id="studium">
          <h2>Der Start ins Studium.</h2>
          <p>
            Nachdem du die Aufnahmeprüfung bestanden hast,
            erwartet dich im Herbst ein aufregender Start ins Studium.
            Los geht's mit den Projektwochen, wo du dir mit Studienkollegen
            aus allen Semestern die Hände schmutzig machen kannst.
          </p>
        </article>
      </div>

    </div>

</div>
</section>
