<section class="termine">
<div class="container">

  <div class="row">
    <div class="twelve columns">
      <article class="text__info bewerbungsfrist">
        <h3>Bewerbungsfrist 1. April 2016</h3>
        <p>
          Zur Bewerbung geht es <a href="#">hier</a> lang, wenn du dich über die Bewerbung an der
          FH Potsdam informieren möchtest, findest du <a href="#">hier</a> viele weitere Informationen.
        </p>
        <h3>Tipps:</h3>
        <ul>
          <li>Es gilt nicht das Datum des Poststempels, sondern das Eingangsdatum
            an der FH</li>
          <li>Die bestandene Eignungsprüfung sichert noch keinen Studienplatz</li>
        </ul>
      </article>
    </div>
  </div>

  <div class="row" id="termine">
    <div class="twelve columns terminuebersicht">
      <ul>
        <li><p>1. Oktober – Semesterbeginn</p></li>
        <li><p>20. August - 20. September – Immatrikulation</p></li>
        <li><p>1. – 10. August – Versand des Zulassungsbescheides</p></li>
        <li><p>15. Juli – Frist Online-Bewerbung bei bestandener Prüfung</p></li>
        <li><p>6. Juni – Erhalt des Prüfungsergebnisses</p></li>
        <li><p>18. – 20. Mai – Eignungsprüfung</p></li>
        <li><p>5. Mai – Versand der Prüfungseinladung</p></li>
        <li><p>18. April – Frist Einreichung des Anmeldebogens</p></li>
        <li><p>1. April – Frist Bewerbung zur Eignungsprüfung</p></li>
        <li><p>8. Februar – Infotag mit Mappenberatung</p></li>
      </ul>
      <h3>Terminübersicht</h3>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns sponsoren">
      <ul>
        <li><img src="img/tk.png" alt="Techniker Krankenkasse" /></li>
        <li><img src="img/fahland.png" alt="Fahland" /></li>
        <li><img src="img/gopublic.png" alt="Go Public" /></li>
        <li><img src="img/havelland.png" alt="Havelland" /></li>
        <li><img src="img/lignet_roset.png" alt="Lignet Roset" /></li>
        <li><img src="img/studentenwerk.png" alt="Studentenwerk" /></li>
        <li><img src="img/busse.png" alt="Busse" /></li>
      </ul>
      <h3>Partner der Campusambulanz</h3>
    </div>
  </div>

</div>
</section>
