doctype html
html
  head
    meta(charset='utf-8')
    title
      | Datenschutz - Campusambulanz
    meta(name='description', content='Datenschutz - Campusambulanz')
    meta(name='author', content='FH Potsdam')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='img/favicon.png')
    link(href='https://fonts.googleapis.com/css?family=Homenaje', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
  body

    section.datenschutz
      .container
        .row
          .twelve.columns
            a(href='/index.html') Zurück zur Hauptseite
            h1 Datenschutz
            
            h3 Datenschutzerklärung für die Nutzung von Facebook-Plugins (Like-Button)
            p Auf unseren Seiten sind Plugins des sozialen Netzwerks Facebook, 1601 South California Avenue, Palo Alto, CA 94304, USA integriert. Die Facebook-Plugins erkennen Sie an dem Facebook-Logo oder dem "Like-Button" ("Gefällt mir") auf unserer Seite. Eine Übersicht über die Facebook-Plugins finden Sie hier: 
              a(href='https://developers.facebook.com/docs/plugins/' target='_blank') https://developers.facebook.com/docs/plugins/ 
            p Wenn Sie unsere Seiten besuchen, wird über das Plugin eine direkte Verbindung zwischen Ihrem Browser und dem Facebook-Server hergestellt. Facebook erhält dadurch die Information, dass Sie mit Ihrer IP-Adresse unsere Seite besucht haben. Wenn Sie den Facebook "Like-Button" anklicken während Sie in Ihrem Facebook-Account eingeloggt sind, können Sie die Inhalte unserer Seiten auf Ihrem Facebook-Profil verlinken. Dadurch kann Facebook den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Facebook erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von Facebook unter 
              a(href='https://de-de.facebook.com/policy.php' target='_blank') https://de-de.facebook.com/policy.php
            p Wenn Sie nicht wünschen, dass Facebook den Besuch unserer Seiten Ihrem Facebook-Nutzerkonto zuordnen kann, loggen Sie sich bitte aus Ihrem Facebook-Benutzerkonto aus.
            
            h3 Datenschutzerklärung für die Nutzung von Twitter
            p Auf unseren Seiten sind Funktionen des Dienstes Twitter eingebunden. Diese Funktionen werden angeboten durch die Twitter Inc., 795 Folsom St., Suite 600, San Francisco, CA 94107, USA. Durch das Benutzen von Twitter und der Funktion "Re-Tweet" werden die von Ihnen besuchten Webseiten mit Ihrem Twitter-Account verknüpft und anderen Nutzern bekannt gegeben. Dabei werden auch Daten an Twitter übertragen.
            p Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Twitter erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von Twitter unter 
              a(href='https://twitter.com/privacy' target='_blank') https://twitter.com/privacy
            p Ihre Datenschutzeinstellungen bei Twitter ändern Sie in den Konto-Einstellungen unter 
             a(href='https://twitter.com/account/settings' target='_blank') https://twitter.com/account/settings
