.uebergang_anfahrt-schlafplatz
  img.uebergang_schlafende-raketen(src='img/uebergang_anfahrt-schlafplatz.svg', alt='Schlafende Raketen')
section.anfahrt
  .container
    .row
      .six.columns
        article.text__info.tipp-anfahrt
          h3 Anfahrt mit dem Auto
          p Tippe in dein Navi die Adresse "Kiepenheuerallee 5, 14469 Potsdam" ein
      .six.columns
        #map-wrapper
          #infobox-wrapper
            .infobox-content
              p
                | Campus Fachhochschule<br />
                | Kiepenheuerallee 5<br />
                | 14469 Potsdam
                #[a(target='_blank' href='https://www.google.com/maps/dir/Current+Location/FH+Potsdam+Design') Weg finden]
          #map-canvas
    .row
      .six.columns
        article.text__info.tipp-anfahrt
          h3 Anfahrt mit der Bahn
          h5 Von Berlin Hbf
          ul
            li S7 in Richtung Potsdam Hbf
            li RE1 in Richtung Magdeburg
          h5 Dann von Potsdam Hbf
          ul
            li Tram 92 in Richtung Kirschallee oder
            li Tram 96 in Richtung Viereckremise, jeweils bis Haltestelle "Campus Fachhochschule"
      .six.columns
        iframe.anfahrt-bvg(src='https://www.bvg.de/bvgapi/WebWidgets/fahrinfo.html?c=3&w=300&t=6&f=%20Potsdam,%20Campus%20Fachhochschule' width='300' height='400' name='iFrame')
    #anfahrt.row
      .twelve.columns
        article.text__intro
          h2 Der Weg zur FHP.
          p
            | Mit deiner Mappe und Hausarbeit an Bord reist du am Prüfungstag zur FHP.
            | Damit du nicht irgendwo in Potsdam verloren gehst, zeigt dir unsere Karte,
            | auf welchem Hyperraum-Express-Highway du am besten zu uns findest.
            | Am Potsdamer Hauptbahnhof und überall auf dem FH-Gelände stehen
            | freundliche Helfer, die dir den richtigen Weg zeigen.
