.uebergang_ha-mappe
  img.uebergang_planet(src='img/hausaufgabe_planet.svg', alt='Planet Hausaufgabe')
section.hausaufgabe
  .container
    .row
      .four.columns
        img.sleep-well(src='/img/sleep-well.svg', alt='Sleep well!')
      .eight.columns
        .accordion.vertical
          section#acc-ha-scribbles
            h4
              | Wie aufwändig muss ich meine Idee umsetzen?
              | Darf ich meine Idee auch mit Scribbles visualisieren?
            p
              | Nutze das gesamte Spektrum deiner Fähigkeiten. Ansonsten zählt im Grunde
              | die Idee selbst und wie überzeugend du sie präsentierst – wenn dafür
              | Skizzen reichen, dann ist das eben so.
          section#acc-ha-sinn
            h4
              | Ich komme mit der Hausaufgabe nicht weiter!
              | Macht es jetzt überhaupt noch Sinn, zur Prüfung zu gehen?
            p
              | Natürlich macht das Sinn! Auch ein paar Tage vorher lassen sich noch
              | gute Ergebnisse erzielen. Glaubt an euch und geht auf jeden Fall zur
              | Prüfung. Euch braucht nichts peinlich zu sein. Vielen von uns ging es
              | damals genauso.
          section#acc-ha-copyright
            h4
              | Wie sieht es mit Bildern aus dem Internet aus?
              | Stichwort: Copyrights. Darf ich die in meiner Präsentation benutzen?
            p
              | Da eure Arbeiten ja in einem „internen Rahmen“ gezeigt werden, ist es ok,
              | wenn ihr Bilder und Grafiken aus dem Netz zur Hilfe nehmt.
          section#acc-ha-pappe
            h4 Muss ich meine Arbeiten auf Pappe aufziehen?
            p
              | Das ist nicht notwendig. Überlegt einfach, welchen Eindruck eure Arbeiten
              | bei den Prüfern hinterlassen sollen. Letztlich „isst das Auge mit“.
              | Es ist natürlich richtig, dass die inneren Werte zählen, aber ein angehender
              | Designer sollte sich der Wirkung einer gut gestalteten Präsentation bewusst
              | sein – das kann man sicher mit vielen Mitteln erreichen.
    .row
      .six.columns
        .accordion.vertical
          section#acc-ha-erlaeutern
            h4
              | Präsentiere ich nur mein Ergebnis oder
              | muss ich auch erläutern, wie ich darauf gekommen bin?
            p
              | Definitiv muss das reine Ergebnis für sich sprechen können und ohne
              | große Erklärungen auskommen. Andererseits ist es oft spannend zu sehen,
              | über welche Wege ein endgültiges Produkt entstanden ist.
          section#acc-ha-hilfsmittel
            h4
              | Welche Hilfsmittel darf ich für meine
              | Präsentation verwenden und welche stehen schon vor Ort zur Verfügung?
            p
              | In den Räumen können Tische und Stühle vorausgesetzt werden und auch
              | technische Hilfsmittel wie zum Beispiel ein Beamer.Euren Laptop müsst
              | ihr selbst mitbringen, genauso wie diverse Adapter. Bedenkt jedoch die
              | kurze Zeitspanne für eure Präsentation, die ihr nicht mit Aufbauen,
              | Anschließen, Einstellen usw. vergeuden solltet.
          section#acc-ha-darstellung
            h4
              | Welche Darstellungsformen kann und darf ich
              | für die Präsentation meiner Aufgabe nutzen?
            p
              | Die Medien der Darstellung können sein: Zeichnungen, Collagen, Montagen,
              | Fotografien, Video etc. Alles, was auf die wörtliche Beschreibung im
              | Wesentlichen verzichten kann. Wählt die Medien und Darstellungsformen,
              | mit denen ihr vertraut seid und euch am sichersten fühlt.
          section#acc-ha-abmessungen
            h4
              | Welche Abmessungen darf meine Hausaufgabe
              | haben?
            p
              | Größe und Format bestimmst du selbst.
          section#acc-ha-charts
            h4
              | Wieviele Seiten / Abbildungen / Charts /
              | etc. darf ich zur Präsentation nutzen? Gibt es eine Mindestanzahl?
            p
              | Dafür gibt es keinerlei Richtwerte. Du musst selbst entscheiden,
              | welcher Umfang für dein Ergebnis am geeignetsten ist.
      .six.columns
        section.tipp-ha-wrapper
          article.text__info.tipp-ha
            h3 Bei der Hausaufgabe solltest du alles geben!
            p
              | Konzentriere dich dabei auf deine Stärken. Der Prüfungskomission ist
              | es wichtig zu spüren, ob du differenziert, problembewusst und intensiv
              | wahrnehmen kannst und wie reich dein Vorstellungsvermögen ist.
              | Effekthascherei und vorgetäuschte Virtuosität machen einen schlechten
              | Eindruck. Weniger ist oft mehr.
        .accordion.vertical
          section#acc-ha-analog
            h4
              | Werden analoge und digitale
              | Darstellungstechniken gleichermaßen bewertet?
            p
              | Natürlich werden analoge Arbeiten nicht schlechter bewertet als
              | digitale. Im Übrigen dürfen auch Bewerber für Interfacedesign analoge
              | oder plastische Arbeiten präsentieren.
          section#acc-ha-fiktiv
            h4
              | Muss ich etwas völlig Neues erfinden oder
              | kann ich auch auf etwas Bestehendem aufbauen? Darf der Inhalt meiner
              | Idee auch rein fiktiv sein?
            p
              | Wie die Aufgabe genau gemeint ist, entscheidest du allein! Du kannst
              | beide Ansätze verfolgen (Neues, Vorhandenes, Beides). Auf jeden Fall
              | ist abstraktes Denken gefragt. Die Qualität und Originalität deiner
              | Idee ist entscheidend. Natürlich darf die Lösung auch fiktiv und nicht
              | tatsächlich umsetzbar sein (z.B. technisch oder finanziell). Die
              | offiziellen Bewertungskriterien der Prüfer sind folgende: Darstellung
              | eigener Ideen; Abstraktionsfähigkeit; Kreativität; Technik, Handwerk;
              | kommunikative Fähigkeiten; designspezifische Begabung – max. 3 Punkte
              | in jedem Kriterium macht summa summarum 18 Punkte = max. zu erreichende
              | Punktzahl.
          section#acc-ha-bezogen
            h4
              | Sind die Aufgaben studiengangsbezogen
              | gestellt?
            p
              | Alle 3 Aufgaben können bearbeitet werden, egal für welchen Studiengang
              | ihr euch bewerbt. Trotzdem sollte die Hausaufgabe möglichst im Sinne
              | eures Studiengangs bearbeitet werden.
          section#acc-ha-konzept
            h4 Was ist eigentlich ein Konzept?
            p
              | Zitat Prof. Boris Müller: „Ein gutes Konzept zeichnet sich dadurch
              | aus, dass man es in zwei Sätzen erklären kann.“
    #hausaufgabe.row
      .twelve.columns
        article.text__intro
          h2 Die Hausaufgabe
          p
            | Für die Präsentation deiner Hausaufgabebleiben dir maximal 7 Minuten,
            | daher sollte das Wesentliche deiner Hausaufgabe schnell zu erfassen sein.
            | Halte deine Arbeit ehrlich, einfach und einprägsam.
.uebergang_termine-ha
  img.uebergang_planet.upsidedown(src='img/hausaufgabe_planet.svg', alt='Planet Hausaufgabe')
