section#kommentare.kommentare
  .container
    .row
      .twelve.columns
        #disqus_thread
        h1 Noch Fragen?
        p
          | Alternativ kannst du deine Fragen auch bei 
          a(href='http://facebook.com/campusambulanz' target='_blank') Facebook
          | , 
          a(href='http://twitter.com/campusambulanz' target='_blank') Twitter
          |  oder 
          a(href='http://www.precore.net/forum/viewtopic.php?f=3&t=21597&hilit=fh+potsdam+2015' target='_blank') Precore
          |  loswerden.
