section#kommentare.kommentare
  .container
    .row
      .twelve.columns
        p
          | Disqus Plugin
        h1 Noch Fragen?
        p
          | Alternativ kannst du deine Fragen auch bei
          a(href='http://facebook.com/campusambulanz') Facebook
          | ,
          a(href='http://twitter.com/campusambulanz') Twitter
          |  oder
          a(href='http://www.precore.net/forum/viewtopic.php?f=3&t=21597&hilit=fh+potsdam+2015') Precore
          |  loswerden.
