section#kommentare.kommentare
  #impressum_bar
    ul
      li
        a(href='impressum.html') Impressum
      li
        a(href='datenschutz.html') Datenschutz
  .container
    .row
      .twelve.columns
        #disqus_thread
        h1 Noch Fragen?
        p
          | Alternativ kannst du deine Fragen auch bei 
          a(href='https://www.facebook.com/campusambulanz/' target='_blank') Facebook
          | , 
          a(href='http://twitter.com/campusambulanz' target='_blank') Twitter
          |  oder 
          a(href='http://www.precore.net/forum/viewtopic.php?f=3&t=21597&hilit=fh+potsdam+2016' target='_blank') Precore
          |  loswerden.
