aside.nav
  section.outer-menu
    input.checkbox-toggle(type='checkbox')
    .hamburger
      div
    nav.menu
      div
        div
          ul
            li #[a(href='#kommentare') Kommentare]
            li #[a(href='#studium') Studium]
            li #[a(href='#pruefung') Prüfung]
            li #[a(href='#schlafplatz') Schlafplatz]
            li #[a(href='anfahrt') Anfahrt]
            li #[a(href='#mappe') Mappe]
            li #[a(href='#hausaufgabe') Hausaufgabe]
            li #[a(href='#termine') Termine]
            li #[a(href='#start') Start]
  section.social-icons
    ul
      li #[a.fhp-logo(href='http://www.fh-potsdam.de/studieren/design/' target='_blank') #[img(src='img/fhp-logo.svg', alt='FH Potsdam Website')]]
      li #[a.facebook-logo(href='http://www.facebook.com/campusambulanz' target='_blank') #[img(src='img/facebook-logo.svg', alt='Campusambulanz Facebook')]]
      li #[a.twitter-logo(href='http://twitter.com/campusambulanz' target='_blank') #[img(src='img/twitter-logo.svg', alt='Campusambulanz Twitter')]]
  include ../components/rocket.html
