.uebergang_pruefung-studium
  img.uebergang_steine(src='img/uebergang_pruefung-studium.svg', alt='Kantige Steine')
section.pruefung
  .container
    .row
      .six.columns
        .accordion.vertical
          section#acc-pruefung
            h4 Wie läuft die Eignungsprüfung ab?
            p
              | Über 3 Tage finden im neuen Designhaus die Prüfungen statt.
              | Den entsprechenden Raum sowie die genaue Zeit eures Prüfungstermins findet ihr in dem Schreiben, das ihr von der FHP
              | erhalten habt. Zusammen mit 3 bis 4 anderen Bewerbern sitzt ihr bei lockerer Atmosphäre einem Prüfungskomitee gegenüber,
              | das aus 3 Prüfern besteht. Die Reihenfolge der einzelnen Bewerber wird von den Prüfern festgelegt. Jeder präsentiert in
              | ca. 5 Minuten seine Hausaufgabe. Dabei ist es nicht schlimm, wenn ihr weniger als 5 Minuten braucht – solltet ihr
              | länger präsentieren, werdet ihr von den Prüfern höflich unterbrochen. Danach wird in 2 bis 3 Minuten die Mappe durchgesehen.
              | Eine Erläuterung wird nicht erwartet, dennoch solltet ihr natürlich auf Nachfrage zu jeder Arbeit etwas sagen können.
              | Es kann sein, dass das Prüfungskomitee eure Mappe gar nicht sehen will. Lasst euch davon jedoch nicht verunsichern, dass
              | bedeutet lediglich, dass sich die Prüfer bereits ein umfassendes Bild von euch machen konnten.
          section#acc-pruefung-zeit
            h4 Wie viel Zeit steht mir in der Prüfung zur Verfügung?
            p
              | Du hast ca. 5 Minuten Zeit um deine Hausaufgabe zu präsentieren. Für die Mappensichtung stehen lediglich
              | 2-3 Minuten zur Verfügung. Also halte dich kurz!
          section#acc-pruefung-hilfsmittel
            h4
              | Stehen technische Hilfsmittel wie Beamer, Computer etc.
              | für mich bereit?
            p
              | Ein Beamer steht in jedem Raum zur Verfügung, Computer und zugehörige Adapter solltest du bei dir
              | tragen, um technischen Problemen aus dem Weg zu gehen und einen glatten Ablauf zu gewährleisten.
      .six.columns
        img.planet-pruefung(src='/img/planet-pruefung.svg', alt='Planet Pruefung')
    .row
      .six.columns
        | .
      .six.columns
        .accordion.vertical
          section#acc-pruefung-ergebnis
            h4 Gibt es irgendeine Möglichkeit, mehr über das Prüfungsergebnis zu erfahren?
            p
              | Nein. Leider gibt es im Nachhinein keine Möglichkeit, eine Aufschlüsselung über die Punktevergabe zu erhalten.
              | Bitte habt Verständnis dafür, dass dies bei ca. 700 Bewerbern einfach ein zu großes Arbeitspensum darstellen würde.
          section#acc-pruefung-bestanden
            h4 Bekommt jeder, der die Eignungsprüfung bestanden hat, auch einen Studienplatz?
            p
              | Im Falle, dass ihr die Prüfung besteht, seid ihr noch nicht automatisch im Besitz eines Studienplatzes.
              | Bestanden hat man mit 9 bis 18 Punkten. Davon werden die Bewerber mit den höheren Punktzahlen zuerst berücksichtigt.
              | Ihr müsst euch dann noch offiziell um einen Studienplatz bewerben. Aber auch die Bewerbung garantiert noch nicht den
              | definitiv sicheren Studienplatz. Leider ist es uns nicht möglich, eine Aussage zu treffen wie „Mit 14 Punkten ist man
              | auf jeden Fall dabei.“ Bitte habt Verständnis dafür, denn die Kriterien nach Qualität und Quantität der Bewerber ergeben
              | sich in jedem Jahr aufs Neue.
    .row
      .twelve.columns
        img.ballon-video(src='/img/ballon_video.svg', alt='Ballon über Video')
        iframe.pruefung-video(src='https://www.youtube-nocookie.com/embed/xhOcHupwVLs?rel=0' width='640' height='360' frameborder='0' name='iFrame') 
        article#pruefung.text__intro
          h2 Du bist gelandet. Der große Tag ist hier.
          p
            | Keine Panik: wir sind für dich da, unterstützen dich mit geistigem Beistand und
            | den besten Grillwürstchen der gesamten Milchstraße. Zusammen überbrücken wir mit dir
            | die Wartezeit und machen den Prüfungstag zu einem schönen Erlebnis.
