.uebergang_schlafplatz-pruefung
  img.uebergang_seifenblasen(src='img/uebergang_schlafplatz-pruefung.svg', alt='Seifenblasen')
section.schlafplatz
  .container
    .row
      .three.columns
        img.regenwolke(src='/img/regenwolke.svg', alt='Regenwolke')
    #schlafplatz.row
      .twelve.columns
        article.text__intro
          h2 Du benötigst einen Schlafplatz für den Prüfungstag?
          p
            | Du reist aus einer weit entfernten Galaxie zur Prüfung an
            | und brauchst einen Schlafplatz? Über unser Schlafplatzformular
            | kannst du kostenlos bei Studentinnen oder Studenten der FH Potsdam
            | übernachten.
          a.btn-sleep(href='mailto:#{mail}', target='_blank') Schlafplatz anfragen
