.uebergang_start-termine
  img.uebergang_planet(src='img/start_planet.svg' alt='Planet Erde')

section#start.start
  .container
    .row
      .twelve.columns
        img.logo(src='img/campusambulanz_logo.svg' alt='Campusambulanz Logo')
        article.text__intro
          h3 Hallo! Schön, dass du bei uns gelandet bist! #{ name } 
          p
            | Du willst Design an der FH Potsdam studieren? Diese Reise wird
            | abenteuerlich. Aber keine Panik, denn wir, die Campusambulanz,
            | stehen dir mit unseren Erfahrungen zur Seite. Unser galaktischer
            | Reiseführer durch die Eignungsprüfung erklärt dir, was du wissen musst,
            | um deine Mission erfolgreich auszuführen.
        ul.start_abheben
          li
            img(src='img/ic_arrow_upward.svg' alt='Pfeil nach oben')
          li
            p Abheben
          li
            img(src='img/ic_arrow_upward.svg' alt='Pfeil nach oben')
