.uebergang_studium-kommentare
  img.uebergang_planet-unterseite(src='img/kommentare_planet.svg', alt='Planet Kommentare')
section.studium
  .container
    .row
      .six.columns
        img(src='img/ufo.png', alt='Ufo')
        .accordion.vertical
          section#acc-praktikum
            h4
              | Muss ich unbedingt ein Praktikum absolviert haben,
              | um mich bewerben zu können?
            p
              | Seit 2013 ist es nicht mehr nötig, ein mindestens 4-wöchiges Praktikum
              | bis zur Immatrikulation vorzuweisen, allerdings ist es natürlich sehr zu empfehlen
              | praktische Erfahrungen in der Designerbranche zu sammeln.
          section#acc-andere-hs
            h4
              | Kann ich mich vor Immatrikulation an der FHP auch an
              | anderen Hochschulen bewerben und einschreiben?
            p
              | Ja, aber zum Zeitpunkt der Immatrikulation an der FHP darf man an keiner
              | anderen Hochschule mehr eingeschrieben sein. Ihr müsstet euch dann an
              | der anderen Hochschule exmatrikulieren lassen.
          section#acc-9-punkte
            h4
              | Ich habe die Eignungsprüfung mit 9 Punkten bestanden,
              | aber keinen Studienplatz bekommen. Zählt dieses Ergebnis zwingend, wenn ich mich
              | im nächsten Jahr wieder bewerbe?
            p
              | Grundsätzlich gilt das Ergebnis der Eignungsprüfung für die 2 auf
              | das Feststellungsverfahren folgenden Studienjahre, d.h. das aktuelle
              | Bewerbungs(= Studien)jahr und das darauffolgende. Es ist also möglich,
              | sich mit dem selben Ergebnis bis zu 2 mal an der FH zu bewerben.
              | Es ist aber genauso möglich, dass ihr im Folgejahr eine neue Eignungsprüfung
              | ablegt und euch dann mit dem neuen Ergebnis bewerbt. An der Eignungsprüfung
              | kann man bei Nichtbestehen insgesamt bis zu 2 mal teilnehmen.
      .six.columns
        .accordion.vertical
          section#acc-stundenplan
            h4
              | Gibt es an der FHP einen festgelegten Stundenplan?
              | Wie lange gehen die Kurse im Durchschnitt?
            p
              | Es gibt keinen festen Stundenplan. Neben einigen Pflichtkursen,
              | die ihr zugeteilt bekommt, wählt ihr selbst eure Kurse aus dem Lehrangebot.
              | In der Regel dauern die Kurse zwischen 3 und 5 Stunden, letztere dann aber
              | meist mit Mittagspause.
          section#acc-grafikprogramme
            h4
              | Bekommt man an der FHP Kenntnisse
              | zu Grafikprogrammen vermittelt? Gibt es entsprechende Kurse?
            p
              | Nicht konkret. Das Studium beginnt mit den Projektwochen, in denen in
              | der Regel ein Adobe–Anfängerkurs angeboten wird. Während des Semesters
              | werden aber keine weiteren Kurse angeboten. Kenntnisse in den gängigen
              | Grafikprogrammen werden zwar nicht vorausgesetzt, aber ihr solltet euch
              | ohnehin darauf vorbereiten, euch diese im Selbststudium anzueignen.
              | Ihr werdet nicht drum herum kommen, diese Programme schon im Grundstudium
              | anzuwenden.
          section#acc-arbeiten
            h4
              | Ich muss nebenbei arbeiten gehen. Habe ich
              | die Möglichkeit, freie Tage einzulegen?
            p
              | Ihr bestimmt euren Wochenplan selbst und könnt demzufolge auch
              | komplette Tage frei halten. Aber unterschätzt nicht den Zeitaufwand,
              | den ihr für Hausaufgaben benötigen werdet.
          section#acc-klausuren
            h4 Werden an der FHP Klausuren geschrieben?
            p
              | Nein. Die Benotung in den Kursen erfolgt in den allermeisten Fällen
              | durch Präsentationen und Dokumentationen am Ende eines Semesters.
    .row
      .twelve.columns
        img.blume(src='img/blume.png', alt='Blume')
        img.planet-big(src='img/studium-gross.png', alt='Planet')
        article#studium.text__intro
          h2 Der Start ins Studium.
          p
            | Nachdem du die Aufnahmeprüfung bestanden hast,
            | erwartet dich im Herbst ein aufregender Start ins Studium.
            | Los geht's mit den Projektwochen, wo du dir mit Studienkollegen
            | aus allen Semestern die Hände schmutzig machen kannst.
